Repository przbab/dnd-card-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: remove unnecessary lines
  package.json
Due: prettier --write

chore: update eslint
  .eslintrc
Due: none

chore: update eslint config
  .eslintrc
  jest.config.js
  next.config.js
Due: eslint --fix

chore: POC
  .eslintrc
  package-lock.json
  public/spells/index.json
  public/spells/mageHand.json
  src/components/Sidebar/CardList/CardItem.tsx
  src/components/Sidebar/CardList/CardList.module.scss
  src/components/Sidebar/CardList/CardList.tsx
  src/components/Sidebar/CardList/index.ts
  src/components/Sidebar/Sidebar.module.scss
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/index.ts
  src/contexts/CardList.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/generator/edit/index.tsx
  src/pages/generator/index.module.scss
  src/pages/generator/index.tsx
  src/pages/index.tsx
  src/styles/global.scss
  src/types/Card.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: add aliases
  package-lock.json
  package.json
  src/components/Sidebar/CardList/CardItem.tsx
  src/components/Sidebar/CardList/CardList.tsx
  src/contexts/CardList.tsx
  src/types/Card.type.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: add layout
  src/assets/papyr.jpeg
  src/components/GeneratorLayout/GeneratorLayout.jsx
  src/components/GeneratorLayout/GeneratorLayout.module.scss
  src/components/GeneratorLayout/index.ts
  src/components/Page/Page.tsx
  src/components/Page/index.ts
  src/components/Sidebar/Sidebar.module.scss
  src/pages/_app.tsx
  src/pages/generator/index.module.scss
  src/pages/generator/index.tsx
  src/styles/_constants.scss
  src/styles/global.scss
Due: eslint --fix, stylelint --fix

chore: update to next 13
  .gitignore
  next.config.js
  package-lock.json
  package.json
  src/app/_app.tsx
  src/app/_document.tsx
  src/app/generator/layout.tsx
  src/app/generator/page.module.scss
  src/app/generator/page.tsx
  src/app/page.tsx
  src/assets/papyr.jpeg
  src/components/Sidebar/Sidebar.tsx
  src/contexts/CardList.tsx
  src/pages/generator/edit/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix layout
  .eslintrc
  next.config.js
  package-lock.json
  package.json
  src/app/generator/layout.tsx
  src/app/generator/page.module.scss
  src/app/generator/page.tsx
  src/components/GeneratorCardList/CardList/CardItem.tsx
  src/components/GeneratorCardList/CardList/CardList.module.scss
  src/components/GeneratorCardList/CardList/CardList.tsx
  src/components/GeneratorCardList/CardList/index.ts
  src/components/GeneratorCardList/GeneratorCardList.module.scss
  src/components/GeneratorCardList/GeneratorCardList.tsx
  src/components/GeneratorCardList/index.ts
  src/components/GeneratorHeader/GeneratorHeader.tsx
  src/components/GeneratorHeader/index.ts
  src/components/GeneratorLayout/GeneratorLayout.jsx
  src/components/GeneratorLayout/GeneratorLayout.module.scss
  src/components/Page/index.ts
  src/components/Panel/Panel.module.scss
  src/components/Panel/Panel.tsx
  src/components/Panel/index.ts
  src/components/PrintPreview/PrintPreview.tsx
  src/components/PrintPreview/index.ts
  src/components/Sidebar/CardList/CardItem.tsx
  src/components/Sidebar/index.ts
  src/layout/GeneratorLayout/GeneratorLayout.tsx
  src/layout/GeneratorLayout/index.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/generator/index.module.scss
  src/pages/generator/index.tsx
  src/pages/index.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: add codeowners
  CODEOWNERS
Due: none

feat: basic functionality (#1)
  .eslintrc
  .gitignore
  next.config.js
  package-lock.json
  package.json
  public/spells/index.json
  public/spells/mageHand.json
  src/components/GeneratorCardList/CardList/CardItem.tsx
  src/components/GeneratorCardList/CardList/CardList.module.scss
  src/components/GeneratorCardList/CardList/CardList.tsx
  src/components/GeneratorCardList/CardList/index.ts
  src/components/GeneratorCardList/GeneratorCardList.module.scss
  src/components/GeneratorCardList/GeneratorCardList.tsx
  src/components/GeneratorCardList/index.ts
  src/components/GeneratorHeader/GeneratorHeader.tsx
  src/components/GeneratorHeader/index.ts
  src/components/Panel/Panel.module.scss
  src/components/Panel/Panel.tsx
  src/components/Panel/index.ts
  src/components/PrintPreview/PrintPreview.tsx
  src/components/PrintPreview/index.ts
  src/contexts/CardList.tsx
  src/layout/GeneratorLayout/GeneratorLayout.tsx
  src/layout/GeneratorLayout/index.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/generator/index.module.scss
  src/pages/generator/index.tsx
  src/pages/index.tsx
  src/styles/_constants.scss
  src/styles/global.scss
  src/types/Card.type.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: add github action
  .github/CODEOWNERS
  .github/workflows/lint.yml
Due: none

test: add eslint errors
  src/components/Panel/Panel.tsx
  src/contexts/CardList.tsx
  src/layout/GeneratorLayout/index.ts
Due: eslint --fix

chore: update lint action
  .github/workflows/lint.yml
Due: none

test: try out lint action
  .github/workflows/lint.yml
Due: none

test: add stylelint error
  src/components/GeneratorCardList/GeneratorCardList.module.scss
Due: stylelint --fix

fix: fix styleint
  .stylelintrc.json
  package.json
Due: prettier --write

chore: ignore .github directory
  .eslintignore
  .prettierignore
  .stylelintignore
  jest.config.js
Due: eslint --fix

refactor: refactor lint action
  .github/workflows/lint.yml
Due: none

fix: fix lint action
  .github/workflows/lint.yml
Due: none

fix: fix lint action more
  .github/workflows/lint.yml
Due: none

fix: fix tests
  jest.config.js
  package-lock.json
  package.json
  src/components/GeneratorHeader/GeneratorHeader.test.tsx
Due: eslint --fix, prettier --write

refactor: refactor lint and test action
  .github/workflows/lintAndTest.yml
Due: none

fix: fix lint action
  .github/workflows/lintAndTest.yml
Due: none

refactor: refactor lint action
  .github/workflows/lintAndTest.yml
Due: none

fix: fix errors
  .github/workflows/lintAndTest.yml
  src/components/GeneratorCardList/CardList/CardList.tsx
  src/components/GeneratorCardList/GeneratorCardList.module.scss
  src/components/Panel/Panel.tsx
  src/contexts/CardList.tsx
  src/layout/GeneratorLayout/index.ts
Due: eslint --fix, stylelint --fix

chore: add github action (#2)
  .eslintignore
  .github/CODEOWNERS
  .github/workflows/lintAndTest.yml
  .prettierignore
  .stylelintignore
  .stylelintrc.json
  package-lock.json
  package.json
  src/components/GeneratorCardList/CardList/CardList.tsx
  src/components/GeneratorHeader/GeneratorHeader.test.tsx
  src/contexts/CardList.tsx
Due: eslint --fix, prettier --write

chore: work in progres - graphql api
  codegen.ts
  package-lock.json
  package.json
  src/grqphql/queries/spell.ts
  src/grqphql/queries/spells.ts
Due: eslint --fix, prettier --write

feat: add graphql client
  next.config.js
  src/helpers/persistedQueryHash/client.js
  src/helpers/persistedQueryHash/server.js
  src/services/graphqlClient.js
Due: eslint --fix

chore: first graphql request
  next.config.js
  package-lock.json
  package.json
  src/components/GeneratorCardList/GeneratorCardList.tsx
  src/components/Panel/Panel.tsx
  src/components/SearchPanel/SearchPanel.tsx
  src/components/SearchPanel/index.ts
  src/components/SearchResults/SearchResults.tsx
  src/components/SearchResults/index.ts
  src/helpers/links.ts
  src/helpers/routing.ts
  src/pages/generator/index.tsx
  src/pages/generator/search/index.module.scss
  src/pages/generator/search/index.tsx
  src/styles/_constants.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: change js files to ts
  src/helpers/persistedQueryHash/client.ts
  src/helpers/persistedQueryHash/server.ts
  src/services/graphqlClient.ts
Due: eslint --fix

chore: add typecheck
  .github/workflows/lintAndTest.yml
  package.json
Due: prettier --write

chore: various fixes
  src/components/GeneratorCardList/CardList/index.ts
  src/components/GeneratorHeader/GeneratorHeader.test.tsx
  src/components/GeneratorHeader/GeneratorHeader.tsx
  src/components/SearchPanel/SearchPanel.tsx
  src/helpers/links.ts
  src/pages/index.tsx
  src/services/graphqlClient.ts
Due: eslint --fix

chore: remove empty test
  src/components/GeneratorHeader/GeneratorHeader.test.tsx
Due: eslint --fix

fix: fix tests
  jest.config.js
  package-lock.json
  package.json
  src/components/Panel/Panel.test.tsx
  src/components/Panel/__snapshots__/Panel.test.tsx.snap
Due: eslint --fix, prettier --write

feat: add graphql client (#3)
  .github/workflows/lintAndTest.yml
  codegen.ts
  jest.config.js
  next.config.js
  package-lock.json
  package.json
  src/components/GeneratorCardList/CardList/index.ts
  src/components/GeneratorCardList/GeneratorCardList.tsx
  src/components/GeneratorHeader/GeneratorHeader.test.tsx
  src/components/GeneratorHeader/GeneratorHeader.tsx
  src/components/Panel/Panel.test.tsx
  src/components/Panel/Panel.tsx
  src/components/Panel/__snapshots__/Panel.test.tsx.snap
  src/components/SearchPanel/SearchPanel.tsx
  src/components/SearchPanel/index.ts
  src/components/SearchResults/SearchResults.tsx
  src/components/SearchResults/index.ts
  src/grqphql/queries/spell.ts
  src/grqphql/queries/spells.ts
  src/helpers/links.ts
  src/helpers/persistedQueryHash/client.ts
  src/helpers/persistedQueryHash/server.ts
  src/helpers/routing.ts
  src/pages/generator/index.tsx
  src/pages/generator/search/index.module.scss
  src/pages/generator/search/index.tsx
  src/pages/index.tsx
  src/services/graphqlClient.ts
  src/styles/_constants.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: move graphql to dev dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: fix codegen config
  codegen.ts
  src/types/grqphql.ts
Due: eslint --fix

fix: fix ts lint
  .eslintrc
Due: none

fix: type fixes
  src/components/GeneratorCardList/CardList/CardItem.tsx
  src/components/GeneratorCardList/CardList/CardList.tsx
  src/components/Panel/Panel.test.tsx
  src/components/Panel/Panel.tsx
  src/components/Panel/index.ts
  src/components/SearchPanel/SearchPanel.tsx
  src/components/SearchResults/SearchResults.tsx
  src/pages/_app.tsx
  src/services/graphqlClient.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,md}
  stylelint --fix: any of: *.scss
