Repository przbab/dnd-card-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: adjust generated types
  codegen.ts
  src/components/SearchResults/SearchResults.tsx
  src/services/graphqlClient.ts
  src/types/grqphql.ts
Due: eslint --fix

fix: fix graphql API types (#4)
  .eslintrc
  codegen.ts
  package-lock.json
  package.json
  src/components/GeneratorCardList/CardList/CardItem.tsx
  src/components/GeneratorCardList/CardList/CardList.tsx
  src/components/Panel/Panel.test.tsx
  src/components/Panel/Panel.tsx
  src/components/Panel/index.ts
  src/components/SearchPanel/SearchPanel.tsx
  src/components/SearchResults/SearchResults.tsx
  src/pages/_app.tsx
  src/services/graphqlClient.ts
  src/types/grqphql.ts
Due: eslint --fix, prettier --write

feat: header styling
  src/components/GeneratorHeader/GeneratorHeader.module.scss
Due: stylelint --fix

chore: code review fixes
  package-lock.json
  package.json
  src/components/GeneratorHeader/GeneratorHeader.module.scss
  src/components/GeneratorHeader/GeneratorHeader.tsx
  src/pages/_app.tsx
  src/styles/_constants.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: code review fixes
  src/components/GeneratorHeader/GeneratorHeader.module.scss
  src/components/GeneratorHeader/GeneratorHeader.tsx
  src/styles/_constants.scss
Due: eslint --fix, stylelint --fix

chore: code review fixes
  src/components/GeneratorHeader/GeneratorHeader.tsx
  src/pages/_app.tsx
Due: eslint --fix

chore: code review fixes
  src/components/GeneratorHeader/GeneratorHeader.tsx
Due: eslint --fix

feat: header styling (#5)
  package-lock.json
  package.json
  src/components/GeneratorHeader/GeneratorHeader.module.scss
  src/components/GeneratorHeader/GeneratorHeader.tsx
  src/pages/_app.tsx
  src/styles/_constants.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: html for search form
  src/components/SearchPanel/SearchPanel.module.scss
  src/components/SearchPanel/SearchPanel.tsx
Due: eslint --fix, stylelint --fix

feat: card POC
  package.json
  src/components/Cards/ItemCard/ItemCard.module.scss
  src/components/Cards/ItemCard/ItemCard.tsx
  src/components/Cards/ItemCard/index.ts
  src/components/Cards/index.ts
  src/pages/card/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,md}
  stylelint --fix: any of: *.scss
